@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: '#F1F3F4';
}

@layer utilities {
    .box-custom {
        display: grid;
        place-items: center;
        width: 180px;
        height: 130px;
        margin-bottom: 0.5rem;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F3F4;
}

::-webkit-scrollbar {
    width: 0;
  }